In [2]:
l=[1,2,3,4,5]
s=0
for i in l:
    s=s+i
print(s)
print(sum(l))

15
15

In [3]:
a=2.2
abs(a)

2.2

In [4]:
a=-237.534
abs(a)

237.534

In [5]:
a=2.2
round(a)

2

In [8]:
a=-834892.3423
b=2.9
round(a)
round(b)

3

In [30]:
b=[1,3673,4]
len(b)
sum(b)
chr(65)
chr(98)
ord('a')
bin(4)
hex(18)
oct(8)
sorted(b)
sorted(b,reverse=True)
sorted(b,reverse=False)
max(b)
min(b)

1

In [34]:
print(b[1::2])

[3673]

In [35]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [50]:
l=[]
l.append(199938493)
l.append(6213814)
print(l)

[199938493, 6213814]

In [55]:
l.append([1,2])
l

[199938493, 6213814, [1, 2], [1, 2], [1, 2]]

In [57]:
l.extend([1,2])
l

[199938493, 6213814, [1, 2], [1, 2], [1, 2], 1, 2, 1, 2]

In [1]:
name=[]
age=[]
for i in range(3):
    a=input("enter the name")
    b=input("enter the age")
    name.append(a)
    age.append(b)
print(age)
print (name)

enter the namerishi
enter the age18
enter the namea
enter the age3
enter the nameb
enter the age45
['18', '3', '45']
['rishi', 'a', 'b']

In [2]:
l=[1,2,3,4]
l.insert(1,345)
l

[1, 345, 2, 3, 4]

In [5]:
l.reverse()
l

[1, 345, 2, 3, 4]

In [7]:
l.sort()
l

[1, 2, 3, 4, 345]

In [8]:
l.sort(reverse=True)
l

[345, 4, 3, 2, 1]

In [9]:
l.pop()
l

[345, 4, 3, 2]

In [20]:
l=[1,3,434645]
l.clear()
print(l)

[]

In [26]:
l=[1,2,3,4,5,56]
l.count(4)
l

[1, 2, 3, 4, 5, 56]

In [24]:
l=[1,2,3]
a=l.copy()
print(l)
a[0]=10000000
print(a)
print(l)

[1, 2, 3]
[10000000, 2, 3]
[1, 2, 3]

# # tuple
immutable
method index,count
packing,inpacking

In [1]:
t=(91,2,30)
t[0:]

(91, 2, 30)

In [2]:
sum(t)

123

In [3]:
len(t)

3

In [4]:
t.count(2)

1

In [5]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [10]:
a=("rishi","1234567890")
(name,mobile)=a

In [11]:
name

'rishi'

In [12]:
mobile

'1234567890'

## dictionaries
### {key:value,key2:value2}
# mutable

In [14]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [24]:
d={"name":"rishi","roll":"1225","age":"18"}
d.values()
d.keys()
d["name"]
d["name"]="reddy"
d
d["gender"]="m"
d

{'name': 'reddy', 'roll': '1225', 'age': '18', 'gender': 'm'}

In [25]:
d.get("gender")

'm'

In [26]:
d.get(0)

In [27]:
d["a"]="a"
d

{'name': 'reddy', 'roll': '1225', 'age': '18', 'gender': 'm', 'a': 'a'}

In [29]:

d=[]
l=[1,2]
a=[5,5]
x=dict(zip(l,a))
x

{1: 5, 2: 5}

In [19]:
## check wheather the given number is in range or not
## lb=lower bound
## ub =upper bound
##lb=lower bound
def range(n):
    lb=int(input("enter a value"))
    ub =int(input("enter a value"))
    if( n>50 and n<10):
        print("number is in range")
    else:
        print("number is not in range")

In [18]:
range(9)

enter a value12
enter a value23
enter a value54
number is not in range

In [20]:
range(2)

enter a value12
enter a value23
number is not in range

In [2]:
# calculate the number of digits
def countdigits(n):
    count=0
    while(n!=0):
        r=n%10
        count=count+1
        n=n//10
    print(count)
countdigits(34567)

5

In [31]:
123%10
123//10
12%10
12//10

1

In [25]:
#print the leapyear within the range
#lb=lower bound
#ub=upper bound
def leapyear(lb,ub):
    for i in range(lb,ub):
        if(i%400==0 or (i%4==0 and i%100!=0)):
            print(i)
leapyear(1990,2019)

1992
1996
2000
2004
2008
2012
2016

In [33]:
#check wheather athe given number is prime or not
def prime(n):
    count=0
    for i in range(2,n):
        if(n%i==0):
            count=count+1
    if(count==0):
        return"True"
    else:
        return"False"
prime(10)

'False'

In [31]:
def isprime(lb,ub):
    for i in range(lb,ub+1):
        if prime(i):
            print(i)
isprime(2,50)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [22]:
# check if a given numberis perfect number or not
def perfect(n):
    sum=0
    for i in range(1,n):
        if(n%i==0):
            sum=sum+i
        i=i+1
    if(sum==n):
        print("perfect number")
    else:
        print("not a perfect number")

In [23]:
perfect(6)

perfect number

In [24]:
perfect(34)

not a perfect number

In [43]:
def isperfect(lb,ub):
    for i in range(lb,ub+1):
        if perfect(i):
            print(i)
isperfect(1,10)

not a perfect number
not a perfect number
not a perfect number
not a perfect number
not a perfect number
perfect number
not a perfect number
not a perfect number
not a perfect number
not a perfect number

In [48]:
# given two variables if one of them is 10 or
#their sum equals to 10 return true
#else return false
def variable(a,b):
    if(a==10 or b==10):
        return"True"
    elif(a+b==10):
        return"True"
    else:
        return"False"
variable(5,5)

'True'

In [49]:
## concatenate two strings
##using '+' operand

In [52]:
s1="hello"
s2="world"
s=s1+s2
print(s)

helloworld

In [102]:
def number():
    a=[1,2,5,4]
    a=sorted(a)
    print(a)
    print(max(a))
    print(min(a))
    print(a[-2])
number()

[1, 2, 4, 5]
5
1
4

In [119]:
def k():
    k=[2,4,4,4,6,6,3]
    k1=[]
    for i in k:
        if i not in k1:
            k1.append(i)
    print(k1)
    k1.sort()
    print(max(k1))
    print(min(k1))
        
k()

[2, 4, 6, 3]
6
2